@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    color: white;
    overflow: hidden;
    background-color: #14161e;
    font-family: 'Quicksand', sans-serif !important;
}

video {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    position: fixed;
    object-fit: cover;
}

img {
    width: 40px;
    height: 40px;
}

a { text-decoration: none; }

nav, footer { z-index: 1; }
nav { box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25); }
footer { box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25); }

.blur {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.icon { transition: 0.25s all; }
.icon:hover { transform: scale(1.25); }
